<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8921164054573762"
  crossorigin="anonymous"></script>


    <link rel="icon" href="logo.jpg">
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-height, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>About PissCounter</title>
    <link rel="stylesheet" href="/static/output.css">
    <style>

hr {
			border-color: rgb(179, 179, 179);
		}


footer {
  height: 50px;
  bottom: 0;
  width: 100%;
}

    </style>
</head>
<body onload="pools()" class="bg-gray-300">
   
        
  <header>
    <!-- Navigation bar -->
    <nav
      class="relative flex w-full items-center justify-between bg-white py-2 text-neutral-600 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 dark:text-neutral-200 md:flex-wrap md:justify-start"
      data-te-navbar-ref>
      <div class="flex w-full flex-wrap items-center justify-between px-3">
        <div class="flex items-center">
          <!-- Hamburger menu button -->
          <button onclick="location.href = '/';"
            class="border-0 text-xl "
            type="button"
            data-te-collapse-init
            data-te-target="#navbarSupportedContentY"
            aria-controls="navbarSupportedContentY"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <!-- Hamburger menu icon -->
            
             
              <img src="/static/logo.jpg" width="40" height="40">
            </span>
          </button>
        </div>
        <button type="button" onclick="location.href = '/enternew';" class="bg-purple-500 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded right-2 absolute">Sign up</button>
        <div class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
            <a
              class="block transition duration-150 ease-in-out right-28 top-4 absolute font-bold hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
              href="/logon"
              data-te-nav-link-ref
              data-te-ripple-init
              data-te-ripple-color="light"
              >Sign in</a
            >
        </div>
<p class="right-44 absolute">|</p>
        <div class="mb-4 lg:mb-0 lg:pr-2 font-bold" data-te-nav-item-ref>
            <a
              class="block transition duration-150 ease-in-out right-48 top-4 absolute hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
              href="/about"
              data-te-nav-link-ref
              data-te-ripple-init
              data-te-ripple-color="light"
              >About</a
            >
        </div>
        <p class="right-62 absolute">|</p>
        <div class="mb-4 lg:mb-0 lg:pr-2 font-bold" data-te-nav-item-ref>
            <a
              class="block transition duration-150 ease-in-out right-68 top-4 absolute hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
              href="/map"
              data-te-nav-link-ref
              data-te-ripple-init
              data-te-ripple-color="light"
              >PissMap</a
            >
        </div>
      </div>
    </nav>
          
    
  </header>

        
   
    <br>
    <div class="flex justify-center text-center">
        <div class=""></div>
        
        
        <div class="bg-gray-300 rounded-xl ">
            
            
            <br>
            
            <div class="flex">
              <div class="m-2 mx-auto">
                  
                <div class="bg-gray-200 rounded-2xl px-8 py-2">
<h1 class="text-2xl font-bold text-center">About PissCounter</h1><br>
                
                <p>Pisscounter is a unique website that offers a fascinating and informative way <br> for users to calculate the total amount of urine they have passed in <br> their lifetime. The website's user-friendly interface and interactive features make it <br> easy for individuals to track their urination history and gain insight into their bladder habits.<br>
                  Pisscounter provides a simple and accurate way for users to calculate the total <br> volume of urine they have expelled over the course of their life. By<br> entering basic information such as age, gender, and average urine output per day, users <br> can generate a personalized report that provides a detailed breakdown of their lifetime urine output.<br>
                  In addition to providing an interesting perspective on personal urinary health, <br> Pisscounter offers a variety of educational resources and articles on <br> urinary tract health, incontinence, and other related topics. The website is designed <br> to be a valuable resource for anyone looking to learn more about their bladder health and urinary habits. <br>
                  Overall, Pisscounter is a unique and informative website that provides a valuable<br> service to individuals looking to gain insight into their urinary <br> habits and overall bladder health. With its user-friendly interface, accurate calculations,<br> and educational resources, Pisscounter.com is a must-visit destination for anyone interested in <br>learning more about their personal urinary health.<br></p>
                    

<br>
            </div>
            </div></div></div></div>

            
            
            <br><br><hr><br><br>

        </div>
    </div> 

    <div class="">

        
        <div class="flex justify-center">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
              <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
            </a>
          </div>
          
</div>
    
    
    <div class="flex justify-center">
        <div></div>
    <div>
        <br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
</div>
    </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8921164054573762"
    crossorigin="anonymous"></script>
<!-- rekalme -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-8921164054573762"
    data-ad-slot="6241551357"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<br><br>
</body>
<footer class="mb-auto relative">
  <div class="text-center">
  <p>&copy; 2023 PissCounter. All rights reserved.</p>
</div>
</footer>



<script>

</script>
</html>
