<header>
    <!-- Navigation bar -->
    <nav
      class="relative flex w-full items-center justify-between bg-white py-2 text-neutral-600 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 dark:text-neutral-200 md:flex-wrap md:justify-start"
      data-te-navbar-ref>
      <div class="flex w-full flex-wrap items-center justify-between px-3">
        <div class="flex items-center">
          <!-- Hamburger menu button -->
          <button onclick="location.href = '/';"
            class="border-0 text-xl "
            type="button"
            data-te-collapse-init
            data-te-target="#navbarSupportedContentY"
            aria-controls="navbarSupportedContentY"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <!-- Hamburger menu icon -->
            
             
              <img src="/static/logo.jpg" width="40" height="40">
            </span>
          </button>
        </div>
        <button type="button" onclick="location.href = '/logout';" class="bg-red-500 hover:bg-red-800 text-white font-bold py-2 px-4 rounded right-2 absolute">Log out</button>

<p class="right-28 absolute">|</p>
        <div class="mb-4 lg:mb-0 lg:pr-2 font-bold" data-te-nav-item-ref>
            <a
              class="block transition duration-150 ease-in-out right-32 top-4 absolute hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
              href="/about"
              data-te-nav-link-ref
              data-te-ripple-init
              data-te-ripple-color="light"
              >About</a
            >
        </div>
        <p class="right-48 absolute">|</p>
        <div class="mb-4 lg:mb-0 lg:pr-2 font-bold" data-te-nav-item-ref>
            <a
              class="block transition duration-150 ease-in-out right-52 top-4 absolute hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
              href="/map"
              data-te-nav-link-ref
              data-te-ripple-init
              data-te-ripple-color="light"
              >PissMap</a
            >
        </div>
      </div>
    </nav>
          
    
  </header>