<!DOCTYPE html>
<html lang="en">
<head>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8921164054573762"
     crossorigin="anonymous"></script>
    <style>


        hr {
                    border-color: rgb(179, 179, 179);
                }
        
        
        footer {
          height: 50px;
          bottom: 0;
          width: 100%;
        }
        
            </style>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login PissCounter</title>
    <link rel="stylesheet" href="/static/output.css">
</head>
<body class="bg-gray-300">
    <header>
        <!-- Navigation bar -->
        <nav
          class="relative flex w-full items-center justify-between bg-white py-2 text-neutral-600 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 dark:text-neutral-200 md:flex-wrap md:justify-start"
          data-te-navbar-ref>
          <div class="flex w-full flex-wrap items-center justify-between px-3">
            <div class="flex items-center">
              <!-- Hamburger menu button -->
              <button onclick="location.href = '/';"
                class="border-0 text-xl "
                type="button"
                data-te-collapse-init
                data-te-target="#navbarSupportedContentY"
                aria-controls="navbarSupportedContentY"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <!-- Hamburger menu icon -->
                
                 
                  <img src="/static/logo.jpg" width="40" height="40">
                </span>
              </button>
            </div>
            <!-- <button type="button" onclick="location.href = '/enternew';" class="bg-purple-500 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded right-2 absolute">Sign up</button>
            <div class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
                <a
                  class="block transition duration-150 ease-in-out right-28 top-4 absolute font-bold hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                  href="/logon"
                  data-te-nav-link-ref
                  data-te-ripple-init
                  data-te-ripple-color="light"
                  >Sign in</a
                >
            </div>
<p class="right-44 absolute">|</p>
            <div class="mb-4 lg:mb-0 lg:pr-2 font-bold" data-te-nav-item-ref>
                <a
                  class="block transition duration-150 ease-in-out right-48 top-4 absolute hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                  href="/about"
                  data-te-nav-link-ref
                  data-te-ripple-init
                  data-te-ripple-color="light"
                  >About</a
                >
            </div>

          </div> -->
        </nav>
              
        
      </header>

<form action="{{url_for('login')}}" method="POST">
    <br>
<div>   
    <div class="flex justify-center text-center">
        <h1 class="text-center text-2xl font-bold">Log In</h1>
    </div><br>
    <div class="flex justify-center"> 
        <div>
            <input type="text" name="name" class="form__input rounded py-2 px-3" placeholder="Username"><br><br>
            <input type="password" name="pin" class="form__input rounded py-2 px-3" placeholder="Password">
        </div>
    </div>
    <br>
        <div class="flex justify-center">
        <!-- <button class="button-64" class="daddy" type="submit" value="login"><span class="text">Log in</span></button> -->
        <button type="submit" value="login" class="daddy bg-purple-500 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded"><span class="text">Log in</span></button><br>
        </div><br>

        <div class="flex justify-center">
            <p class="text-gray-700 text-sm">Or if you havent already</p>
            </div><br>
</div>
</form>

<div class="flex justify-center">    
    
    <button class="daddy bg-purple-500 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded"><a href="/enternew" class="button-64"><span class="text">Sign Up</span></a></button>
    
    <!-- <button class="daddy bg-purple-500 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded"><a href="/list" class="button-64"><span class="text">All users</span></a></button> -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8921164054573762"
     crossorigin="anonymous"></script>
<!-- rekalme -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8921164054573762"
     data-ad-slot="6241551357"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><br><br><br><br>
</body>
<footer class="mb-auto relative">
    <div class="text-center">
    <p>&copy; 2023 PissCounter. All rights reserved.</p>
  </div>
  </footer>
</html>