<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PissMap</title>
    <link rel="stylesheet" href="/static/output.css">

</head>
<body onload="pools()" class="bg-gray-300">
    <header>
        <!-- Navigation bar -->
        <nav
          class="relative flex w-full items-center justify-between bg-white py-2 text-neutral-600 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 dark:text-neutral-200 md:flex-wrap md:justify-start"
          data-te-navbar-ref>
          <div class="flex w-full flex-wrap items-center justify-between px-3">
            <div class="flex items-center">
              <!-- Hamburger menu button -->
              <button onclick="location.href = '/';"
                class="border-0 text-xl "
                type="button"
                data-te-collapse-init
                data-te-target="#navbarSupportedContentY"
                aria-controls="navbarSupportedContentY"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <!-- Hamburger menu icon -->
                
                 
                  <img src="/static/logo.jpg" width="40" height="40">
                </span>
              </button>
            </div>
            <button type="button" onclick="location.href = '/enternew';" class="bg-purple-500 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded right-2 absolute">Sign up</button>
            <div class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
                <a
                  class="block transition duration-150 ease-in-out right-28 top-4 absolute font-bold hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                  href="/logon"
                  data-te-nav-link-ref
                  data-te-ripple-init
                  data-te-ripple-color="light"
                  >Sign in</a
                >
            </div>
<p class="right-44 absolute">|</p>
            <div class="mb-4 lg:mb-0 lg:pr-2 font-bold" data-te-nav-item-ref>
                <a
                  class="block transition duration-150 ease-in-out right-48 top-4 absolute hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                  href="/about"
                  data-te-nav-link-ref
                  data-te-ripple-init
                  data-te-ripple-color="light"
                  >About</a
                >
            </div>
            <p class="right-62 absolute">|</p>
            <div class="mb-4 lg:mb-0 lg:pr-2 font-bold" data-te-nav-item-ref>
                <a
                  class="block transition duration-150 ease-in-out right-68 top-4 absolute hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                  href="/map"
                  data-te-nav-link-ref
                  data-te-ripple-init
                  data-te-ripple-color="light"
                  >PissMap</a
                >
            </div>
          </div>
        </nav>
              
        
      </header>
    <br><br>
<div class="text-center">
<h1 class="text-4xl font-bold">PissMap</h1>
<p>Show us some places you have pissed!</p>
<br>
</div>
<div>
<!-- <img src="/static/maplock.jpg" class="justify-center items-center snap-center self-center"> -->
<div class="flex items-center justify-center">
  <img src="/static/maplock.jpg" alt="Your Image" class="object-cover md:h-full w-full">
</div>



        <!-- <h1 class="text-5xl text-red-600 font-bold text-center absolute">You have to sign in to access this page!</h1> -->


        <br>
</div>
        
<div class="text-center text-lg">
<b><a href="/logon" class="text-blue-700 hover:text-blue-900">Sign in </a> to access this page!</b>
</div>


        <!-- <div class="flex justify-center">
            <button type="submit" value="login" class="daddy bg-purple-500 hover:bg-purple-800 text-white font-bold py-3 px-6 rounded"><span class="text">Sign in</span></button><br>
            </div><br> -->
    
            <div class="flex justify-center">
                <p class="text-gray-700 text-sm">Or if you havent already</p>
                </div><br>
    </div>
    </form>
    
    <div class="flex justify-center">    
        
        <button class="daddy bg-purple-500 hover:bg-purple-800 text-white font-bold py-3 px-6 rounded"><a href="/enternew" class="button-64"><span class="text">Sign Up</span></a></button>
        

    
</body>
</html>