<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8921164054573762"
     crossorigin="anonymous"></script>
    <link rel="icon" href="logo.jpg">
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-height, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>PissCounter</title>
    <link rel="stylesheet" href="/static/output.css">
    <style>


hr {
			border-color: rgb(179, 179, 179);
		}


footer {
  height: 50px;
  bottom: 0;
  width: 100%;
}

    </style>

</head>
<body onload="pools()" class="bg-gray-300">
  <header>
    <!-- Navigation bar -->
    <nav
      class="relative flex w-full items-center justify-between bg-white py-2 text-neutral-600 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 dark:text-neutral-200 md:flex-wrap md:justify-start"
      data-te-navbar-ref>
      <div class="flex w-full flex-wrap items-center justify-between px-3">
        <div class="flex items-center">
          <!-- Hamburger menu button -->
          <button onclick="location.href = '/';"
            class="border-0 text-xl "
            type="button"
            data-te-collapse-init
            data-te-target="#navbarSupportedContentY"
            aria-controls="navbarSupportedContentY"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <!-- Hamburger menu icon -->
            
             
              <img src="/static/logo.jpg" width="40" height="40">
            </span>
          </button>
        </div>
        <button type="button" onclick="location.href = '/enternew';" class="bg-purple-500 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded right-2 absolute">Sign up</button>
        <div class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
            <a
              class="block transition duration-150 ease-in-out right-28 top-4 absolute font-bold hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
              href="/logon"
              data-te-nav-link-ref
              data-te-ripple-init
              data-te-ripple-color="light"
              >Sign in</a
            >
        </div>
<p class="right-44 absolute">|</p>
        <div class="mb-4 lg:mb-0 lg:pr-2 font-bold" data-te-nav-item-ref>
            <a
              class="block transition duration-150 ease-in-out right-48 top-4 absolute hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
              href="/about"
              data-te-nav-link-ref
              data-te-ripple-init
              data-te-ripple-color="light"
              >About</a
            >
        </div>
        <p class="right-62 absolute">|</p>
        <div class="mb-4 lg:mb-0 lg:pr-2 font-bold" data-te-nav-item-ref>
            <a
              class="block transition duration-150 ease-in-out right-68 top-4 absolute hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
              href="/map"
              data-te-nav-link-ref
              data-te-ripple-init
              data-te-ripple-color="light"
              >PissMap</a
            >
        </div>
      </div>
    </nav>
          
    
  </header>
  <br>
  <button type="button" onclick="location.href = '/enternew';" class="bg-purple-500 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded left-6"> Return to sign up</button>

  <div class="flex">
    <div class="m-2 mx-auto">
        <h1 class="text-2xl font-bold text-center">Terms and Conditions of Use for PissCounter.com</h1><br>
      <div class="bg-gray-200 rounded-2xl px-8 py-2">

        <p>Effective Date: 09.11.2023</p>
        <br>
        <p>Welcome to PissCounter.com! These Terms and Conditions of Use (the "Terms") govern your use of our <br>website, www.pisscounter.com (the "Website"). Please read these Terms carefully before using the Website.</p>
        <br>
        <p>1. Acceptance of Terms</p>
        
        <p>By accessing or using the Website, you agree to be bound by these Terms. If you do not agree to these<br> Terms, please do not use the Website.</p>
        <br>
        <p>2. Intellectual Property</p>
        
        <p>All content on PissCounter.com, including but not limited to text, graphics, images, trademarks, logos,<br> and software, is the exclusive property of PissCounter and is protected by copyright and other intellectual <br>property laws. You may not use, reproduce, or distribute any content from the Website without the express written <br>permission of PissCounter.</p>
        <br>
        <p>3. User Accounts</p>
        
        <p>a. You have the option to create a user account on PissCounter.com. By creating an account, you agree to <br>provide accurate and complete information during the registration process.</p>
        
        <p>b. You are responsible for maintaining the confidentiality of your account information, including your <br>password.</p>
        <br>
        <p>4. User-Generated Content</p>
        
        <p>a. Users are permitted to upload and share content on the PissCounter.com map feature. By uploading content, <br>you grant PissCounter a non-exclusive, royalty-free, worldwide license to use, reproduce, modify, <br>adapt, and distribute the content for the purpose of providing and promoting the Website.</p>
        
        <p>b. You are solely responsible for the content you upload, and it must comply with all applicable laws and <br>these Terms. PissCounter reserves the right to remove or disable access to any content that violates <br>these Terms or is deemed inappropriate in our sole discretion.</p>
        <br>
        <p>5. Contact Information</p>
        
        <p>You can contact us via email at luddetv@gmail.com for any inquiries, feedback, or concerns related to the <br>Website.</p>
        <br>
        <p>6. Privacy</p>
        
        <p>PissCounter is committed to protecting your privacy. Please refer to our Privacy Policy, available on the <br>Website, for information on how we collect, use, and safeguard your personal information.</p>
        <br>
        <p>7. Changes to the Terms</p>
        
        <p>PissCounter reserves the right to modify or revise these Terms at any time. Any changes will be effective <br>immediately upon posting on the Website. If the terms are updated the user will automaticly agree to these changes, <br>even if the user is not using the site anymore, previuos trafick on the site will from then on count to the new terms.</p>
        <br>
        <p>8. Governing Law</p>
        
        <p>These Terms are governed by and construed in accordance with the laws of [Your Jurisdiction]. Any disputes <br>arising out of or relating to these Terms or the use of the Website shall be subject to the exclusive jurisdiction <br>of the courts in [Your Jurisdiction].</p>
        
        <p>By using PissCounter.com, you agree to these Terms and consent to be bound by them. Please read these Terms <br>carefully before using the Website.</p>
        
          </div>
          <br>
          <div class="text-gray-600 text-sm flex justify-center">
            <p>Not a member? <b><a href="/enternew" class="text-gray-700 hover:text-gray-900 text-sm"> Sign up here!</a></b></p>            </div>
        </form>
        <br><br>
      </div>
    </div>
  </div>
        
  </body>

</html>
